<div class="cc-header-wrapper">
  <md-toolbar ng-class="ccH.headerClassList" md-scroll-shrink>
    <div class="md-toolbar-tools">
      <!-- Back Button icon for navigating backwards through previous states -->
      <md-icon md-svg-src="images/wni_control-back-2x.svg" ng-click="ccH.prevState()" ng-if="!ccH.isRootState"
          class="ig-icon-button toolbar-btn" aria-label="Back Button"></md-icon>
      <!-- Hamburger icon for opening NavDrawer from Root States -->
      <md-button ng-click="ccH.toggleSideNav()" class="md-icon-button" ng-if="ccH.isRootState">
        <md-icon aria-label="Menu">menu</md-icon>
      </md-button>
      <span class="toolbar-text">{{title}}</span>
      <span flex="{{flexVal}}"></span>
      <div layout="row" layout-align="end center" class="toolbar-controls" ng-transclude flex></div>
    </div>
  </md-toolbar>
</div>
