
@import "app/utils/site_variables.scss";
@import "app/components/header/header.scss";
@import "app/partials/nav/navDrawer.scss";
@import "app/partials/home/home.scss";
@import "app/partials/aboutus/aboutus.scss";

//@import "app/partials/planning/planning.scss"; -- (Denver): this is currently empty and I'm not sure if it will be used


// Default font is Roboto
body {
  font-family: $font-base-family;
}

a {
  text-decoration: none;
}

// Browser focus outline to zero
*:focus {
  outline: 0;
}


svg {
  fill: $body-text-light;
}

.text-primary {
  color: $md-primary;
}

.text-primary {
  color: $md-primary;
}

.text-primary-1 {
  color: $md-primary-hue1;
}

.text-primary-2 {
  color: $md-primary-hue2;
}

.text-primary-3 {
  color: $md-primary-hue3;
}

.text-accent {
  color: $md-accent;
}

.text-accent-1 {
  color: $md-accent-hue1;
}

.text-accent-2 {
  color: $md-accent-hue2;
}

.text-accent-3 {
  color: $md-accent-hue3;
}

.text-error {
  color: $error-red;
}

.text-urgent {
  color: $app-red;
  font-weight: bold;
}

.txt-center {
  text-align: center;
}

.required-field {
  color: $app-red;
}

#master-page, md-content {
  background-color: $master-bg-color;
}

.cc-logo-contain {
  background-color: #FFFFFF;
  cursor: pointer;
}

/* DIALOG STYLES */
.dialog-title {
  font-size: 1.5rem;
}

.dialog-btn {
  cursor: pointer;
  border: 1px $body-text-dark solid;
  padding: 1.5rem;
  text-align: center;
}

.dialog-btn-submit {
  @extend .dialog-btn;
  color: $app-red;
}

.dialog-generic {
  background-color: #FFFFFF;
  border: 2px solid $body-text-dark;
  min-width: 400px;
  .header {
    padding: 0 2.5rem;
    text-align: center;
  }
}

#dialog-alert {
  @extend .dialog-generic;
}

#dialog-submit {
  @extend .dialog-generic;
}

.dialog-btn-contain {
  padding: 0 .8rem;
}

.iframeWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#iframeDisplay {
  width: 100%;
  height: 100%;
}
/* END DIALOG STYLES */

.nav-drawer {
  $navd-border-color: #ACACAC;
  $navd-border-width: 1px;
  $navd-border-style: solid;

  md-item-content {
    background-color: #FFFFFF;
    border: $navd-border-width $navd-border-style $navd-border-color;
  }

  md-list {
    padding: 0;
  }

  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .nav-draw-divide {
    border: none;
    margin: 2em 0;
  }

  .nav-drawer-li {
    border-top: $navd-border-width $navd-border-style $navd-border-color;
    border-bottom: $navd-border-width $navd-border-style $navd-border-color;
  }

}

/* INPUT STYLES */
.inp-size-2 {
  width: 2rem;
}

.inp-size-4 {
  width: 4rem;
}

.inp-size-5 {
  width: 5rem;
}
/* END INPUT STYLES */

/* LAYOUT SPACING STYLES */
.spacetop-1 {
  margin-top: 1rem;
}
.spacetop-2 {
  margin-top: 2rem;
}

.spaceright-1 {
  margin-right: 1rem;
}

.spaceright-2 {
  margin-right: 2rem;
}
/* END LAYOUT SPACING STYLES */

/** BEGIN ANIMATIONS **/
/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@keyframes fade_out {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes fade_out {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes fade_out {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes fade_out {
  from { opacity:0; }
  to { opacity:1; }
}

@keyframes fade_in {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes fade_in {
  from { opacity:0; }
  to { opacity:1; }
}

@-moz-keyframes fade_in {
  from { opacity:0; }
  to { opacity:1; }
}

@-o-keyframes fade_in {
  from { opacity:0; }
  to { opacity:1; }
}
/** END ANIMATIONS **/
