<div id="wiki-index" class="page-content-container">
  <cc-header data-title="Search Wikipedia">
    <span flex></span>
  </cc-header>
  <div layout="row" layout-align="center">
    <div layout="column" layout-align="start center" flex="70">
      <h1>Search</h1>
      <div class="spacetop-2 spacebot-2">
        <input type="text" ng-model="vm.searchText" />
      </div>
      <div>
        <list-container ng-repeat="item in vm.results" data-title="{{item.title}}" data-extract="{{item.extract}}"
            data-src-link="{{item.srcLink}}">
        </list-container>
      </div>
    </div>
  </div>
</div>
