$font-base-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-base-size-web: 16px; // Base font size for web browsers
$font-base-size-tab: 20px; // Base font size for tablets

// APPLICATION COLORS
$error-red: #EE2E24;
$body-text-light: #FFFFFF;

// CONTENT BACKGROUNDS
$master-bg-color: #DDDDDD;
$content-bg-color: #F6F6F6;
$nested1-bg-color: #FFFFFF;
$nested2-bg-color: #DFDFDF;
$nested3-bg-color: #FFFFFF;
