<div id="artists-index" class="page-content-container">
  <cc-header data-title="Artists">
    <span flex></span>
  </cc-header>
  <div class="spacetop-1" layout="row" layout-align="space-around center" layout-wrap
    ng-show="vm._$state.current.name === 'artists'">
      <a ui-sref="artists.details({'id' : item.stateRef})" ng-repeat="item in vm._artists_list">
        <content-tile footer-icon="queue_music" footer-text="item.name" tile-img="{{item.band_img}}">
        </content-tile>
      </a>
  </div>
</div>
<div id="artist-details-index" ui-view="">
</div>
