/* Inspection List datatable styles */
table.dataTable {
  border-collapse: collapse;

  thead {
    th {
      padding: 1rem 1.75rem 1rem .5rem;
      border: 1px solid $xposupp-grey2-hex;
      text-align: left;
      //white-space: nowrap;
      position: relative;

      .resizer {
        $divide-color: #DD5555;
        height: 75%;
        display: inline-block;
        border-left: 1px solid $divide-color;
        position: absolute;
        top: 15%;
        right: 0;
        padding-right: .4rem;
      }
    }

    $sorting-bg-size: .75rem;
    $sorting-bg-offset: .5rem;
    .sorting_asc {
      background-image: url("../../images/wni_column-sort-up-1x.svg");
      background-position: right $sorting-bg-offset center;
      background-size: $sorting-bg-size;
      background-repeat: no-repeat;

    }

    .sorting_desc {
      background-image: url("../../images/wni_column-sort-dn-1x.svg");
      background-position: right $sorting-bg-offset center;
      background-size: $sorting-bg-size;
      background-repeat: no-repeat;

    }

    .sorting {
      background-image: url("../../images/wni_column-sort-static-1x.svg");
      background-position: right $sorting-bg-offset center;
      background-size: $sorting-bg-size;
      background-repeat: no-repeat;

    }

  }

  tr {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    td {
      padding: 1rem .5rem;
      text-align: left;
      //white-space: nowrap;
    }

  }

  .odd {
    &:hover {
      background-color: $xposupp-grey3-hex !important;
    }
    &.row-selected {
      background-color: $xposupp-grey1-hex;
      color: $body-text-light;
      &:hover {
        color: $xpo-black-hex;
      }
    }
  }

  .even {
    background-color: $content-bg-color;
    &:hover {
      background-color: $xposupp-grey3-hex !important;
    }
    &.row-selected {
      background-color: $xpo-black-hex;
      color: $body-text-light;
      &:hover {
        color: $xpo-black-hex;
      }
    }
  }
}
/* End datatable styles */


/* Table Settings Menu styles */
.table-settings {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  li {
    min-height: 3rem;
    min-width: 16.3rem;
    padding: 0 .5rem;
    color: #FFFFFF;
    background-color: $xposupp-grey2-hex;
    border-bottom: thin solid #FFFFFF;
    text-shadow: 2px 1px 2px rgba(78, 76, 76, 0.95);

    .arrow-contain {
      height: 3rem;
      padding: 0 .5rem;
      background-image: url("../../images/wni_menu-activate-1x.svg");
      background-repeat: no-repeat;
      background-size: 2rem;
      background-position: right .5rem center;

    }

    .radio-contain {
      height: 3rem;
      padding: 0 .5rem;
      background-image: url("../../images/wni_radio-full-1x.svg");
      background-repeat: no-repeat;
      background-size: 2rem;
      background-position: left .5rem center;

    }

    .radio-contain-empty {
      @extend .radio-contain;
      background-image: url("../../images/wni_radio-empty-1x.svg");

    }

    .reorder-btn {
      height: 2rem;
      background-repeat: no-repeat;
      background-size: 2rem;
      background-position: bottom center;

    }

    .reorder-btn-top {
      @extend .reorder-btn;
      background-image: url("../../images/wni_menu-move-arrow-up-1x.svg");

    }

    .reorder-btn-bottom {
      @extend .reorder-btn;
      background-image: url("../../images/wni_menu-move-arrow-dn-1x.svg");

    }

  }
  li:last-child {
    border-bottom: none;
  }
}
/* End Table Settings Menu */


/* Slip JS styles */
.slip-reordering {
  box-shadow: 0 2px 10px rgba(0,0,0,0.45);
  background-color: $xpocust-portal-grey-hex !important;
}

.slip-swiping-container {
  overflow-x: hidden;
}

.slip-list li {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
/* End Slip JS styles */


//we don't want to show the default colvis drop-down
div .ColVis {
  display: none;
}
