<div id="index">
  <cc-header data-title="Welcome">
    <span flex></span>
    <md-menu-bar ng-show-gt-sm>
      <md-menu>
        <div layout="row" layout-align="start center" ng-click="$mdOpenMenu()">
          <md-button>
            <md-icon md-font-set="material-icons">local_pizza</md-icon>
          </md-button>
        </div>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button ui-sref="recordings">
              Recordings
            </md-button>
          </md-menu-item>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
  </cc-header>
  <div class="spacetop-1">
    <md-icon md-font-set="material-icons">alarm_add</md-icon>
  </div>
</div>
