<div id="home-index">
  <cc-header data-title="Featured">
    <span flex></span>
    <md-menu-bar>
      <md-menu>
        <div layout="row" layout-align="start center" ng-click="$mdOpenMenu()">
          <md-button>
            <md-icon md-font-set="material-icons">local_pizza</md-icon>
          </md-button>
        </div>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button ui-sref="recordings">
              Recordings
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
  </cc-header>
  <div class="spacetop-1 md-content" layout="row" layout-align="space-between center" layout-wrap>
      <md-card class="featured" flex-sm="100" flex-gt-sm="35">
        <img ng-src="images/washedout.png" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Washed Out - <span class="text-accent-3">Paracosm</span></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
      <md-card class="featured" flex-sm="100" flex-gt-sm="60">
        <img ng-src="images/coldplay_logo.png" class="md-card-image" alt="Coldplay">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Coldplay - <span class="text-accent-3">Parachutes</span></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>Parachutes is the debut studio album by British alternative rock band Coldplay.
            It was released by Parlophone on 10 July 2000 in the United Kingdom. The album was produced by the band and British record producer Ken Nelson, excluding one track, "High Speed", which was produced by Chris Allison. Parachutes has spawned the hit singles "Shiver", "Yellow", "Trouble", and "Don't Panic".
          </p>
          <p>
            The album was a commercial success, and was met with positive reviews. Upon release,
            the album quickly reached number one in the United Kingdom, and has since been certified 8× platinum. In the United States, the album peaked at number 51 on the Billboard 200, and has since been certified 2× Platinum. It won the Grammy Award for Best Alternative Music Album in 2002, and has earned the band various accolades since its release. Parachutes is also the 17th best-selling album of the 21st century in the United Kingdom, and won the Best British Album award at the 2001 Brit Awards. As of 2011, it has sold around 8.5 million copies worldwide.
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
      <md-card class="featured" flex-gt-sm="45">
        <img ng-src="images/bad_books_2.jpg" class="md-card-image" alt="Bad Books Two">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Bad Books - <span class="text-accent-3">II</span></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            II is the second album from the folk/indie rock collaboration project by folk artist Kevin Devine and members of indie rock band Manchester Orchestra.
            It was released on October 9, 2012, exactly two years after the band's self-titled debut album, on Triple Crown Records. Like the first album, the songs written were collaborations between Kevin Devine and Manchester Orchestra's frontman Andy Hull.
          </p>
          <p>
            Announcement on the album's title, release date and new label took place on the band's Facebook page on August 12, 2012.
            The next day, on August 13, the band streamed the first single off the album, "Forest Whitaker", for free on the Rolling Stone website, and on August 22, the single was released as an official digital single on iTunes.
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
</div>
