.list-item-container {
  background-color: $md-primary-hue1;
  padding: .5rem;
  border-top: 1px solid #000000;

  .list-item-title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .list-item-text {
    color: $md-accent-hue3;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $body-text-light;
    }
  }
}
