
.nav-drawer {
  background-color: #FFFFFF;
  
  button {
    font-size: 1.525rem;
  }

  .md-primary {
    background-color: $md-primary-hue1;
    background-blend-mode: hue;
  }

  .nav-text-sm {
    font-size: .75rem;
  }
}
